@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "AreaInktrap";
    src: url("/fonts/AreaInktrap-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AreaNormal";
    src: url("/fonts/AreaNormal-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "AreaNormal";
    src: url("/fonts/AreaNormal-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
}
