---
import Layout from "../layouts/Layout.astro";
import AboutCardLayout from "../layouts/AboutCardLayout.astro";
import HeroText from "../components/HeroText.astro";
import AboutCTA from "../components/AboutCTA.astro";

const heroTitle = "About Us";
const heroDescription = "A Branding & Campaign Strategy Studio";

const pageTitle = "About";
const withFooter = true;
---

<Layout pageTitle={pageTitle} withFooter={withFooter}>
  <main>
    <HeroText heroTitle={heroTitle} heroDescription={heroDescription} />
    <div class="mb-12 hidden md:block"></div>
    <AboutCardLayout />
    <AboutCTA />
  </main>
</Layout>