---
import Layout from "../layouts/Layout.astro";
import CardLayout from "../layouts/CardLayout.astro";
const pageTitle = "Work";
---

<Layout pageTitle={pageTitle}>
  <div>
    <div
      class="text-desk-black pt-10 md:pt-28 mx-4 text-4xl md:text-6xl tracking-tight leading-none font-AreaInktrap font-bold"
    >
      <p>Award-Winning</p>
      <p class="text-desk-gray-700/70">Digital Campaigns.</p>
      <p>Market-Ready</p>
      <p class="text-desk-gray-700/70">Brand Strategies.</p>
    </div>
    <div class="h-px bg-desk-gray-500 border-0 mx-4"></div>
  </div>

  <CardLayout />
  <div class="mt-8"></div>
</Layout>
