---
import { manifestoV2 } from "../data/manifestoV2.js";
---

<!-- z-2 full screen text yg bisa di scroll ampe abis -->
<main class="antialiased overflow-x-hidden relative">
  <div>
    <!-- Manifesto -->
    <section
      class="bg-desk-gray-300/20 h-full flex justify-center pb-24 px-6 items-center
        rounded-b-3xl min-h-[calc(100vh+20px)] z-[2]"
    >
      <div class="mt-8 md:mt-16 max-w-[445px] flex flex-col gap-6">
        <p class="text-4xl leading-none font-bold font-AreaInktrap">
          {manifestoV2[0].title}
        </p>
        <div class="text-base flex flex-col gap-6 text-pretty">
          {manifestoV2[0].p1.split(".").map((item) => <p>{item}.</p>)}
        </div>
        <div>
          <p>"{manifestoV2[0].quote}"</p>
          <p>- {manifestoV2[0].quoteAuthor}</p>
        </div>
      </div>
    </section>
    <!-- CTA -->
    <section
      class="h-screen w-screen items-center justify-center flex relative"
    >
    </section>
  </div>
</main>
