---
import AboutCard from "./AboutCard.astro";
---

<!-- bento grid with modal to click and show the content -->
<main>
  <div
    class="animate-slidein font-AreaInktrap leading-none opacity-0 [--delay:300ms]"
  >
    <div
      class="mx-4 hidden flex-col items-center justify-center pt-24 pb-32 text-center
        tracking-tight md:flex"
    >
      <p class="text-xl font-bold text-desk-gray-700 md:text-6xl">About Us</p>
      <p
        class="text-md animate-slidein pt-2 text-desk-gray-700/80 opacity-0 [--delay:400ms]
          md:text-2xl"
      >
        A Branding & Campaign Strategy Studio
      </p>
    </div>
    <div class="md:hidden">
      <p class="mx-4 pt-6 text-5xl font-bold tracking-tight text-desk-gray-700">
        About Us
      </p>
      <div class="mx-4 h-px border-0 bg-desk-gray-500"></div>
    </div>
  </div>
  <div
    class="mx-4 mb-4 flex animate-slidein flex-col items-center justify-center opacity-0
      [--delay:500ms]"
  >
    <AboutCard
      bgColor="bg-desk-orange"
      cardTitle="Why we do it"
      cardText="To help brands resonate"
      cardText2="in a fast-changing world."
      buttonText="Read our manifesto"
      buttonColor="group-hover:bg-desk-white"
      hoverColor="group-hover:text-desk-orange"
    />
    <AboutCard
      bgColor="bg-desk-blue"
      cardTitle="What we do"
      cardText="We craft strategies that"
      cardText2="make brands unforgettable."
      buttonText="See our work"
      buttonColor="group-hover:bg-desk-white"
      hoverColor="group-hover:text-desk-blue"
      cardHref="/deskreview/work"
    />
    <AboutCard
      bgColor="bg-desk-brown"
      cardTitle="Who we do it for"
      cardText="For brands seeking"
      cardText2="meaningful connections."
      buttonText="See who we've worked with"
      buttonColor="group-hover:bg-desk-white"
      hoverColor="group-hover:text-desk-brown"
    />
    <AboutCard
      bgColor="bg-desk-gray-700"
      cardTitle="How we do it"
      cardText="By combining strategy with"
      cardText2=" creativity to inspire belief."
      buttonText="See our services"
      buttonColor="group-hover:bg-desk-white"
      hoverColor="group-hover:text-desk-gray-700"
    />
  </div>
  <div class="h-[calc(100vh-52px)] flex items-center justify-center">CTA</div>
</main>
