---

---

<footer class="mx-4">
  <div class="bg-desk-gray-500 h-px"></div>
  <div
    class="mb-10 mt-2 w-full text-desk-gray-700/70 font-bold text-sm font-AreaInktrap
      tracking-tight grid grid-cols-2 items-center"
  >
    <p>&copy; 2024 Deskreview</p>
  </div>
</footer>
