---
import Divider from "./Divider.astro";
const { withFooter } = Astro.props;
---

<footer class={withFooter ? "mx-4 mb-4" : "hidden"}>
  <Divider />
  <div
    class="mt-2 grid w-full grid-cols-2 items-center font-AreaInktrap text-[10px]
      tracking-tight text-desk-gray-700/80 md:text-sm"
  >
    <div class="flex justify-start">
      <a
        href="https://www.instagram.com/deskreview/"
        target="_blank"
        class="hover:text-desk-black">Instagram</a
      >
      <div class="mx-2">/</div>
      <a
        href="mailto:zaidandzaki@gmail.com"
        target="_blank"
        class="hover:text-desk-black">Email</a
      >
      <div class="mx-2">/</div>
      <a
        href="https://wa.me/+6285159177206"
        target="_blank"
        class="hover:text-desk-black">WhatsApp</a
      >
    </div>
    <p class="text-right">&copy; 2024 Deskreview</p>
  </div>
</footer>
