---
const { withFooter } = Astro.props;

const linkHover = "hover:text-desk-gray-300 hover:underline";
---

<footer
  class={withFooter
    ? `h-[calc(100vh-52px)] fixed bottom-0 left-0 -z-50 w-full bg-desk-black
      text-desk-white`
    : "hidden"}
>
  <div
    id="footer-content"
    class="flex h-full flex-col items-center justify-center font-AreaInktrap
      will-change-transform"
  >
    <a
      href="https://www.instagram.com/deskreview/"
      target="_blank"
      class={linkHover}>Instagram</a
    >

    <a href="mailto:zaidandzaki@gmail.com" target="_blank" class={linkHover}
      >Email</a
    >

    <a href="https://wa.me/+6285159177206" target="_blank" class={linkHover}
      >WhatsApp</a
    >
    <p class="py-8">Copyright &copy; 2024 Deskreview</p>
  </div>
</footer>

<script>
  document.addEventListener("astro:page-load", () => {
    const footerContent = document.getElementById("footer-content");
    window.onscroll = () => {
      if (
        window.innerHeight + Math.round(window.scrollY) >=
        document.body.offsetHeight
      ) {
        const footerStartPoint =
          document.body.offsetHeight - window.innerHeight;
        const footerHeight = footerContent.offsetHeight;
        const scrollProgress = Math.max(
          0,
          Math.min(
            footerHeight,
            footerHeight - (window.scrollY - footerStartPoint)
          )
        );
        const translateVh = (scrollProgress / footerHeight) * 15;
        console.log(translateVh)
        console.log(footerStartPoint)
        console.log("footerHeight:", footerHeight)
        
        footerContent.style.transform = `translateY(${translateVh}vh)`;
      } else {
        footerContent.style.transform = "translateY(15vh)";
      }
    };
  });
</script>
