---
import { Icon } from "astro-icon/components";
---

<div
  class="no-scrollbar fixed inset-x-0 top-0 z-[1000] flex h-screen w-screen
    translate-y-full items-center justify-center overflow-y-auto overscroll-contain
    bg-desk-black opacity-100 transition-transform duration-500
    ease-[cubic-bezier(0.25,0,0,1)]"
  id="page-transition-slider"
  transition:persist
>
  <div
    class="ease-[cubic-bezier(0.16, 1, 0.3, 1)] pointer-events-none translate-y-[20px]
      opacity-0 transition-all duration-[150ms]"
    id="page-transition-logo"
    transition:persist
  >
    <Icon
      name="logo_text"
      class="h-auto w-[20vw] text-desk-white"
      transition:persist
    />
  </div>
</div>

<script>
  import { navigate } from "astro:transitions/client";

  const initPageTransition = () => {
    const pageSlide = document.getElementById("page-transition-slider");
    const desktopNav = document.querySelectorAll("#desktop-nav");
    const logoNav = document.getElementById("logo-nav");
    const transitionLogo = document.getElementById("page-transition-logo");
    const isWeb = () => window.matchMedia("(min-width: 768px)").matches;

    if (!pageSlide || !desktopNav.length || !logoNav) return;

    const handleNavClick = (event) => {
      if (!isWeb()) return;

      event.preventDefault();

      if (pageSlide.classList.contains("-translate-y-full")) {
        return;
      }

      const href = event.target.getAttribute("href");

      if (
        href.replace(/\/$/, "") === window.location.pathname.replace(/\/$/, "")
      )
        return;

      sessionStorage.setItem("delayTimeout", "800");

      pageSlide.classList.remove("translate-y-full");
      pageSlide.classList.add("translate-y-0");

      setTimeout(() => {
        transitionLogo.classList.remove("translate-y-[20px]", "opacity-0");
        transitionLogo.classList.add("translate-y-0", "opacity-100");
      }, 400);

      const transitionEndBeforeNav = () => {
        navigate(href).then(() => {
          document.addEventListener("astro:page-load", () => {
            setTimeout(() => {
              transitionLogo.classList.remove("translate-y-0", "opacity-100");
              transitionLogo.classList.add("-translate-y-[20px]", "opacity-0");
            }, 300);

            setTimeout(() => {
              pageSlide.classList.remove("translate-y-0");
              pageSlide.classList.add("-translate-y-full");

              const transitionEndAfterHide = () => {
                pageSlide.classList.remove(
                  "transition-transform",
                  "duration-500",
                  "-translate-y-full"
                );
                pageSlide.classList.add("translate-y-full");
                transitionLogo.classList.remove(
                  "transition-all",
                  "duration-[150ms]",
                  "-translate-y-[20px]"
                );
                transitionLogo.classList.add("translate-y-[20px]");

                sessionStorage.removeItem("delayTimeout");

                setTimeout(() => {
                  pageSlide.classList.add(
                    "transition-transform",
                    "duration-500"
                  );
                  transitionLogo.classList.add(
                    "transition-all",
                    "duration-[150ms]"
                  );
                }, 0);

                pageSlide.removeEventListener(
                  "transitionend",
                  transitionEndAfterHide
                );
              };

              pageSlide.addEventListener(
                "transitionend",
                transitionEndAfterHide
              );
            }, 500);
          });
        });

        pageSlide.removeEventListener("transitionend", transitionEndBeforeNav);
      };

      pageSlide.addEventListener("transitionend", transitionEndBeforeNav, {
        once: true,
      });
    };

    desktopNav.forEach((nav) => {
      nav.addEventListener("click", handleNavClick);
    });

    logoNav.addEventListener("click", (event) => {
      if (isWeb()) handleNavClick(event);
    });
  };

  initPageTransition();
  document.addEventListener("astro:page-load", initPageTransition);
  window.addEventListener("resize", () => {
    if (window.matchMedia("(min-width: 768px)").matches) {
      initPageTransition();
    }
  });
</script>
