---
import { services } from "../data/services";
---

<!-- <div class="py-24">
  <div
    class="flex flex-col justify-center items-center mx-4 font-AreaInktrap text-center
      tracking-tight"
  >
    <p
      class="text-desk-gray-700 text-xl md:text-6xl leading-none font-bold animate-slidein
        [--delay:300ms] opacity-0"
    >
      Services
    </p>
  </div>
  <div
    class="pt-8 flex flex-wrap gap-4 opacity-0 animate-slidein [--delay:500ms]
      justify-center [&>*:nth-child(odd)]:bg-desk-blue [&>*:nth-child(even)]:bg-desk-orange"
  >
    {
      services.map((service) => (
        <div class="p-8 bg-desk-gray-300/25 rounded-lg text-desk-white">
          <h2 class="text-4xl text-center font-bold tracking-tight leading-tight font-AreaInktrap">
            {service.title}
          </h2>
            <ul class="inline-block space-y-1 text-xl">
              {service.types.map((type) => (
              <li>{type}</li>
              ))}
            </ul>
        </div>
      ))
    }
  </div>
</div> -->
