---

---

<input type="checkbox" id="card-toggle" class="hidden" />

<label
  for="card-toggle"
  id="slide"
  class="fixed right-0 top-0 z-[9999] h-screen w-screen translate-x-full bg-desk-black
    transition-transform duration-500"
>
</label>

<script>
  const slide = document.getElementById("slide");
  const buttons = document.querySelectorAll("button");

  // Function to toggle slide and lines
  const toggleSlide = () => {
    slide.classList.toggle("translate-x-0");
    slide.classList.toggle("translate-x-full");

    // Toggle the nav-toggle checkbox
    if (slide.classList.contains("translate-x-0")) {
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = "auto";
    }
  };

  // Add click event to buttons
  buttons.forEach((button) => {
    button.addEventListener("click", toggleSlide);
  });
</script>
