---
import Divider from "./Divider.astro";

const { title } = Astro.props;
---

<div class="mx-4">
  <p
    class="text-desk-gray-700 pt-8 text-6xl tracking-tight leading-none font-AreaInktrap
      font-bold"
  >
    {title}
  </p>
  <Divider />
</div>
