---
import Divider from "./Divider.astro";

const { title } = Astro.props;
---

<div class="mx-4">
  <p
    class="pt-8 font-AreaInktrap text-6xl font-bold leading-none tracking-tight
      text-desk-gray-700"
  >
    {title}
  </p>
  <Divider />
</div>
