---
import WorkSliderContentLayout from "../layouts/WorkSliderContentLayout.astro"
import { workCardData } from "../data/workCardData.ts";
---

<WorkSliderContentLayout
  title="Astra Honda"
  spaceY="space-y-6"
>
<p>
  { workCardData[0].description }
  </p>

</WorkSliderContentLayout>
<WorkSliderContentLayout
  title="Telkomsel"
  spaceY="space-y-3"
>
</WorkSliderContentLayout>
<WorkSliderContentLayout
  title="Salam Ganesha Academy"
  spaceY="space-y-3"
>
</WorkSliderContentLayout>
<WorkSliderContentLayout
  title="Rococo Group Indonesia"
  spaceY="space-y-3"
>
</WorkSliderContentLayout>
<WorkSliderContentLayout
  title="Hayati Karya Lestari"
  spaceY="space-y-3"
>
</WorkSliderContentLayout>

