---
import WorkSlideContent from "./WorkSlideContent.astro";
---

<div
  class="pointer-events-none fixed inset-0 z-[55] hidden bg-desk-black/50 opacity-0
    transition-opacity duration-300"
  id="overlay"
>
</div>

<div
  id="slide"
  class="ease-[cubic-bezier(0.7, 0, 0.84, 0)] fixed right-0 top-0 z-[60] h-screen
    w-screen translate-x-full overflow-y-auto overscroll-contain bg-desk-black
    transition-transform duration-300 md:duration-500"
>
  <WorkSlideContent />
</div>

<button
  id="x-btn"
  class="fixed right-[40px] top-[40px] z-[60] hidden cursor-pointer items-center
    justify-center rounded-full bg-desk-gray-700 p-6 md:p-8"
>
  <span
    class="absolute top-[50%] block h-[2px] w-4 -translate-y-[50%] rotate-45 transform
      bg-desk-white md:w-6"
  ></span>
  <span
    class="absolute top-[50%] block h-[2px] w-4 -translate-y-[50%] -rotate-45 transform
      bg-desk-white md:w-6"
  ></span>
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    if (window.location.pathname.replace(/\/$/, "") === "/deskreview/work") {
      const slide = document.getElementById("slide");
      const xBtn = document.getElementById("x-btn");
      const overlay = document.getElementById("overlay");
      const cardContents = Array.from(
        document.querySelectorAll(".work-card-content")
      );
      const cardButtons = Array.from(document.querySelectorAll(".work-card"));

      // Helper Functions
      const hideCardContents = () => {
        Object.values(cardContents).forEach((content) => {
          content?.classList.remove("grid");
          content?.classList.add("hidden");
        });
      };

      const showCardContent = (cardContent) => {
        hideCardContents();
        cardContent?.classList.remove("hidden");
        cardContent?.classList.add("grid");
      };

      const toggleSlide = (isOpening) => {
        slide.classList.toggle("translate-x-0", isOpening);
        slide.classList.toggle("translate-x-full", !isOpening);
        overlay.classList.toggle("hidden", !isOpening);
        overlay.classList.toggle("opacity-100", isOpening);

        if (isOpening) {
          setTimeout(() => {
            xBtn.classList.remove("hidden");
            xBtn.classList.add("flex");
          }, 500);
        } else {
          xBtn.classList.remove("flex");
          xBtn.classList.add("hidden");
          slide.addEventListener(
            "transitionend",
            () => {
              hideCardContents();
            },
            { once: true }
          );
        }
      };

      const handleSlideToggle = (event) => {
        const clickedButton = event.target.closest(".work-card");
        if (clickedButton) {
          const buttonIndex = cardButtons.indexOf(clickedButton);
          if (buttonIndex !== -1) {
            toggleSlide(true);
            showCardContent(cardContents[buttonIndex]);
          }
        }
      };

      xBtn.addEventListener("click", () => toggleSlide(false));
      document.addEventListener("click", handleSlideToggle);
    }
  });
</script>
