---
import WorkCardContent from "./WorkCardContent.astro";
import WorkModal from "../components/WorkModal.astro";
import { workCardData } from "../data/workCardData";
---

<div class="flex flex-col pb-10 md:mx-[10vw] md:pb-40">
  <div
    class={"grid w-full gap-x-4 gap-y-10 px-4 pb-8 md:gap-y-8 md:grid-cols-2"}
  >
    {workCardData.map((card) => <WorkCardContent {...card} />)}
  </div>
</div>

<WorkModal />

<script>
  const initWorkCard = async () => {
    if (window.location.pathname.replace(/\/$/, "") === "/deskreview/work") {
      const viewHeight = window.innerHeight * 0.1;
      const observerSettings = {
        root: null,
        rootMargin: `-${viewHeight}px 0px`,
        threshold: 0,
      };

      const workCards = document.querySelectorAll(".work-modal");

      setTimeout(() => {
        const workCardObserver = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              const workCard = entry.target as HTMLButtonElement;
              const imgCard = workCard.querySelector(
                "figure img"
              ) as HTMLImageElement;

              if (imgCard && imgCard.complete) {
                workCard.classList.add("animate-slidein");
              } else if (imgCard) {
                imgCard.addEventListener("load", () => {
                  workCard.classList.add("animate-slidein");
                });
              }
            }
          });
        }, observerSettings);

        workCards.forEach((modal) => {
          workCardObserver.observe(modal);
        });
      }, 200);
    }
  };

  initWorkCard();
  document.addEventListener("astro:page-load", initWorkCard);
</script>
