---
import AboutCard from "../components/AboutCard.astro";
import AboutCardModal from "../components/AboutCardModal.astro";
import Slider from "../components/Slider.astro";

import { aboutCardData } from "../data/aboutCardData";
---

<div
  class="mx-4 mb-4 grid animate-slidein grid-cols-1 place-items-center opacity-0
    [--delay:500ms]"
>
  {aboutCardData.map((card) => 
    card.isModal 
      ? <AboutCardModal {...card} /> 
      : <AboutCard {...card} />
  )}
</div>