---
import Card from "../components/Card.astro";
import { cardData } from "../data/cardData";
---

<div class="w-full flex flex-col">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-8 px-4 pt-4 pb-8 w-full"
  >
    {cardData.slice(0, 2).map((card) => <Card {...card} />)}
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-x-4 gap-y-8 px-4 md:py-8 pb-8 w-full"
  >
    {cardData.slice(2).map((card) => <Card {...card} />)}
  </div>
</div>
