---
import Header from "../components/Header.astro";
import ImportFont from "../components/ImportFont.astro";
const { pageTitle } = Astro.props;
---

<!-- classic layout -->
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/deskreview/ico/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ImportFont />
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <div class="h-[52px]"></div>
    <slot />
  </body>
</html>
